In [ ]:
from sqlalchemy import create_engine
import pandas as pd

db_path = "../airflow/dags/crypto_data.db"
engine = create_engine(f'sqlite:///{db_path}')

df_portfolio = pd.read_sql('SELECT * FROM portfolio_value', engine, parse_dates=['Date'])
df_portfolio

          Date     PPO Value     BTC Value  Equal-Weighted Value
0   2024-01-27   9951.020429  10072.502697          10029.704354
1   2024-01-28   9904.655134  10052.304883           9990.516652
2   2024-01-29  10084.364063  10351.861572          10196.413358
3   2024-01-30   9978.081644  10271.598102          10060.614361
4   2024-01-31   9861.921764  10183.116134           9915.434466
..         ...           ...           ...                   ...
474 2025-05-15  45908.181707  24809.278626          21267.797429
475 2025-05-16  45828.040203  24748.214382          21392.459508
476 2025-05-17  45629.213261  24676.902704          21050.248342
477 2025-05-18  45745.191027  25455.277984          21496.682013
478 2025-05-19  45019.865616  24834.969140          20864.819880

[479 rows x 4 columns]

In [21]:
df_portfolio.columns

Index(['Date', 'PPO Value', 'BTC Value', 'Equal-Weighted Value'], dtype='object')